.form-label{
    background-color: rgba(71, 65, 65, 0.945) !important;
    color: white !important;
}
.form-control {
  background-color: rgba(71, 65, 65, 0.945) !important;
  border-color: rgba(71, 65, 65, 0.945) !important;
  border-radius: 0px !important;
  color: white !important;
  font-size : 14px !important;
  height : 35px !important;
}
.form-control::placeholder {
  color: grey !important;
}
