<ul class="nav nav-pills flex-column mb-auto w-100" id="navbar-setupMenu">
    <li class="nav-item">
        <a class="nav-link link-light" href="#AccountInformation">
            1. Account Information
        </a>
    </li>

    <li class="nav-item mt-2">
        <a class="nav-link link-light" href="#InitialSettings">2. Initial Settings
        </a>
    </li>

    <li class="nav-item mt-2">
        <a class="nav-link link-light" href="#GamesAndDocumentsDirections">
            Games And Documents
        </a>
    </li>
</ul>